{% extends './base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<ul class="nav justify-content-end">
	<a type="button" href="{% url 'add_group' %}" class="btn btn-outline-primary m-3">Add Group</a>
</ul>

<div class="row justify-content-center">
	<div class="col-xs-12 col-md-9">
		<table class="table table-hover table-warning table-striped ">
  			<thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Actions</th>
		    </tr>
		   
		  </thead>
		  <tbody>
		  	{% for group in groups %}
		    <tr>
		      <th scope="row">{{ group.id }}</th>
		      <td>{{ group.title }}</td>
		      <td>{{group.description|truncatewords:3 }}</td>
		      <td>
		      	<a href="{% url 'update_group' group.title %}" type="button" class="btn btn-outline-dark">Edit</a>
		        <a href="{% url 'delete_group' group.id %}" type="button" class="btn btn-outline-dark">Delete</a>
		      </td>
		    </tr> 
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% endblock content %}
